* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height:100%;
  object-fit: cover;
}

/* .main-container-home-page {
  text-align: center;
  background-image: url("../images/theFam.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  display: flex;
} */

.content {
  position: absolute;
  width:100%;
  height: 75%;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .05);
}

.homePageButton {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  height: 30px;
  padding: 5px;
  position: relative;
  right: 50;
  bottom: 0;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.homePageButton:hover,
.homePageButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.homePageButton:hover {
  transform: translateY(-1px);
}

.homePageButton:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
